/* p {

    color: rgb(215, 221, 23);
    background-color: rgb(109, 189, 221);
    text-align: center;
    font-size: 25px;
}

.jk {
    color: rgb(229, 144, 17);
    background-color: bisque;
}

div {
    color: rgb(215, 221, 23);
    background-color: rgb(32, 243, 141);
    height: 380px;
    width: 300px;
    border: 5px dashed;
    margin: 5px;
    display: inline-block;
} */

#box1 {
    color: brown;
    background-color: beige;
    text-align: center;
    height: 380px;
    width: 300px;
    border: 5px;
    margin: 50px;
        display: inline-block;
}


#box2 {
    color: rgb(218, 115, 5);
    background-color: rgb(26, 204, 227);
    text-align:center;
    height: 380px;
    width: 300px;
    border: 5px;
    margin: 50px;
        display: inline-block;
    
}



#box3 {
    color: rgba(216, 202, 8, 0.738);
    background-color: rgb(158, 16, 80);
    text-align: center;
    height: 380px;
    width: 300px;
    border: 5px;
    margin: 50px;
        display: inline-block;
}



#box4 {
    color: rgb(115, 108, 42);
    background-color: rgb(17, 195, 52);
    text-align: center;
    height: 380px;
    width: 300px;
    border: 5px;
    margin: 50px;
        display: inline-block;
}