h4{
                font-family: 'Times Roman';
                text-align: center;
                font-size:20px;
                font-weight:400px;
                padding: 60px;
                color:rgba(17, 28, 84, 0.825);
            }
            #main_box{
                height:400px;
                width:700px;
                border:3px solid #000;
                padding-left: 20px;
            }
            #box2{
                height:200px;
                width:600px;
                background-color: #4bccec;
                padding-left: 20px;
                margin-left:50px;
                margin-top:100px;
                padding-top:1px;
            }
            #box3{
                height:150px;
                width:550px;
                background-color: #ecec4b;
                padding-left: 20px;
                margin-top:10px;

            }